
<script type = "text/javascript"> 
console.log("Inside addcourse.handlebars");
</script>
<div class="container row col-md-12">
    <div class="col-md-6 border border-dark main-body">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h1 class="col-md mx-auto text-center main-head rounded">Bootcamp University</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto border border-dark rounded login-container">
                <div class="col-md-10 mx-auto text-center rounded login-head">Add a Course</div>
                <div class="row mx-auto">
                    <form class="mx-auto login">
                        <div class="form-group text-center m-0">
                            <label for="cname-input m-0">Course Name</label>
                            <input type="text" class="form-control" id="cname-input" placeholder="e.g. JavaScript">
                        </div>
                        <div class="form-group text-center m-0">
                            <label for="credit-input m-0">Credits</label>
                            <input type="text" class="form-control" id="credit-input" placeholder="default 3">
                        </div>
                        <div class="form-group text-center m-0">
                            <label for="desc-input m-0">Description</label>
                            <input type="text" class="form-control" id="desc-input" placeholder="e.g. - this class is gauranteed to cure insomnia">
                        </div>
                        <br>
                        <div class="form-group text-left m-0">
                            <label for="dept-input m-0">Department: </label>
                            <select id="dept-input" class="form-select m-0">
                                <option value="Web_development">Web development</option>
                                <option value="Data_analytics">Data analytics</option>
                                <option value="Project_management">Project management</option>
                                <option value="Cool_fourth_option">That cool fourth option</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group text-left m-0">
                            <label for="pre-input m-0">Pre-requisites: </label>
                            <select id="pre-input" class="form-select m-0">
                                <option value="Birth">Birth</option>
                                <option value="None">None</option>
                            </select>
                        </div>
                        <br>
                        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span> <span class="msg"></span>
                        </div>
                        <br>
                        <div class="mx-auto text-center">
                            <button type="button" id="addcourse" class="btn btn-primary login-btn">Add Course</button>
                        </div>
                        <div class="mx-auto text-center" id = "divprompt">
                            <a href="/professors/1"> back to Professor Login Page page</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="/js/addcourse.js"></script>
