  <h1 class="login-container text-center rounded"> Schedule </h1>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function daysToMilliseconds(days) {
      return days * 24 * 60 * 60 * 1000;
    }

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Course ID');
      data.addColumn('string', 'Course Name');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Pre-requisites');

      data.addRows([
        ['CSC001', 'Begin JAVA',
         new Date(2015, 0, 1), new Date(2015, 0, 5), null,  100,  null],
        ['CSC002', 'Hot JAVA',
         null, new Date(2015, 0, 9), daysToMilliseconds(3), 25, 'CSC001'],
        ['CSC003', 'A second cup',
         null, new Date(2015, 0, 7), daysToMilliseconds(1), 20, 'CSC001'],
        ['DA001', 'Python',
         null, new Date(2015, 0, 10), daysToMilliseconds(1), 0, null],
        ['DA002', 'Monty Python',
         null, new Date(2015, 0, 6), daysToMilliseconds(1), 100, 'DA001']
      ]);

      var options = {
        height: 550
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>
  <div id="chart_div"></div>

