<div class="container row col-md-12">
    <div class="col-md-3 my-auto border border-dark sidebar sidebar-left">

    </div>
    <div class="col-md-6 border border-dark main-body">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h1 class="col-md mx-auto text-center main-head">Boot Camp University</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto border border-dark rounded login">
                <div class="col-md-10 mx-auto border border-dark text-center rounded login-head">LOGIN</div>
                <div class="row mx-auto">
                    <form class="mx-auto login-form">
                        <div class="form-group text-center">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <div class="form-group text-center">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="mx-auto text-center"> 
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                </div>
            </div>
            
        </div>
       
    </div>
    <div class="col-md-3 my-auto border border-dark sidebar sidebar-left">

    </div>
</div>
