<div class="container row col-md-12">
    <div class="col-md-3 my-auto sidebar sidebar-left">

    </div>
    <div class="col-md-6 main-body">
        <div class="row">
            <div class="col-md-10 mx-auto text-center">
                <a href="/"<span class="mx-auto"><img class="mx-auto" src="/imgs/BootcampU.png"></span></a>
                {{!-- <h1 class="col-md mx-auto text-center main-head rounded">Bootcamp University</h1> --}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto rounded login-container">
                <div class="col-md-10 mx-auto text-center rounded login-head">Welcome <span class="student-name"></span> </div>
                    <p class="text-center">Please click <a href="/addcourse">here</a> to add a course</p>
                <div class="row mx-auto">


                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3 my-auto sidebar sidebar-left">

    </div>
</div>
<script type="text/javascript" src="/js/members.js"></script>