<div class="container row col-md-12">
    <div class="col-md-3 my-auto border border-dark sidebar sidebar-left">

    </div>
    <div class="col-md-6 border border-dark main-body">
        <div class="row">
            <div class="col-md-10 mx-auto text-center">
                <a href="/"<span class="mx-auto"><img class="mx-auto" src="/imgs/BootcampU.png"></span></a>
                {{!-- <h1 class="col-md mx-auto text-center main-head rounded">Bootcamp University</h1> --}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto border border-dark rounded login-container">
                <div class="col-md-10 mx-auto text-center rounded login-head">Welcome Professor {{lastname}}  </div>
                    <p class="text-center">Please click <a href="/addcourse">here</a> to add a course</p>
                    <p class="text-center">Please click <a href="/addschedule">here</a> to build a schedule</p>
            </div>
        </div>

    </div>
    <div class="col-md-3 my-auto border border-dark sidebar sidebar-left">

    </div>
</div>
<script type="text/javascript" src="js/professors.js"></script>