<!DOCTYPE HTML>
<script type = "text/javascript"> 
console.log("Inside professor.handlebars");
</script>
<div class="container row col-md-12">
    <div class="col-md-6 border border-dark main-body">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h1 class="col-md mx-auto text-center main-head rounded"> Choose Professor Login </h1>
            </div>
        </div>
        <div class="row rounded main-head mx-auto mx-auto">
            <div class="col-md-10 mx-auto">
                <ul>
                    {{#each Professor }}
                    <li> <a href="/professors/{{id}}">Prof. {{firstName}} {{lastName}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>               
    </div>
</div>

 