
<script type = "text/javascript"> 
console.log("Inside searchclass.handlebars");
</script>
<div class="container row col-md-12">
  <div class="col-md-3 my-auto sidebar sidebar-left">

  </div>
  <div class="col-md-6 main-body">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="col-md-10 mx-auto text-center">
            <a href="/"<span class="mx-auto"><img class="mx-auto" src="/imgs/BootcampU.png"></span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 mx-auto rounded login-container">
        <div class="col-md-10 mx-auto text-center rounded login-head">{{msg}}</div>
          <div class="row mx-auto">
            <form class="mx-auto login">
              <div class="form-group text-center m-0">
              <label for="term-input m-0">Term</label><br>
                <select id="term-input" class="form-select m-0">
                  <option value="Fall 2018">Fall 2018</option>
                  <option value="Spring 2018">Spring 2018</option>
                </select>
              </div>
              <br>
              <div class="form-group text-center m-0">
              <label for="dept-input m-0">Department</label><br>
                <select id="dept-input" class="form-select m-0">
                  <option value="Web Development">Web Development</option>
                  <option value="Computer Science">Computer Science</option>
                  <option value="Information Systems">Information Systems</option>
                  <option value="Computer Technology Integration">Computer Technology Integration</option>
                  <option value="All">All Departments</option>
                </select>
              </div>
              <div id="class-table"></div>
              <hr><br>
              <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span class="msg"></span>
              </div>
              <div class="mx-auto text-center">
                <button type="button" id="search-class" class="btn btn-primary login-btn">Search for Classes</button>
              </div>
              <br><br>
            </form>

          </div>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript" src="/js/searchclass.js"></script>
