        <header class="container">
          <div class="row">
            <img class="logo left-float" src="./imgs/BootcampU.png">
            <h1 class="display-4">Bootcamp University</h1>
            <p class="lead">Register for Fall 2018 Classes</p>
          </div>
        </header>
        <section class="container">
          <div class="card blue-border"> 
            <div class="card-header blue-background">
              <h5 class="float-left">Search for Class Sections:</h5>
            </div>
    <!--        <form action="/classes_page.js">    -->

              <div class="dropdown-menu">
                <h6 class="dropdown-header">Subjects</h6>
                <a class="dropdown-item" href="#">CIS - Information Systems</a>
                <a class="dropdown-item" href="#">CSC - Computer Science</a>
              </div>

<!--

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Subjects</th>
                    <th scope="col">Course Levels</th>
                    <th scope="col">Course Number</th>
                    <th scope="col">Section</th>
                    <th scope="col">Professor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select>
                        <option value="CIS - Information Systems"></option>
                        <option value="CSC - Computer Science"></option>
                        <option value="CTI - Computer Tech Integration"></option>
                        <option value="CTS - Computer Info Technology"></option>
                        <option value="DBA - Database Management Technology"></option>
                        <option value="WEB - WEB Development"></option>
                        <option value="All"></option>
                      </select>
                    </td> 
                    <td>
                      <select>
                        <option value="First Year"></option>
                        <option value="Second Year"></option>
                        <option value="Third Year"></option>
                        <option value="Fourth Year"></option>
                        <option value="All"></option>
                      </select>
                    </td>
                    <td>
                      <input type="text" name="course_nbr">
                    </td>
                    <td>
                      <input type="text" name="section">
                    </td>
                    <td>
                      <input type="text" name="professor">
                    </td>
                  </tr>
                </tbody>
              </table>
              <input type="submit" value="Submit">
            </form>

-->

            
          </div>
        </section>
